<div class="leakageDetectionPanel text-center">
  <h4>Choose analysis type</h4>
  <button class="btn btn-success" type="button" (click)="taskVerification()" [disabled]="leakageAnalysisInprogress"
    [class.active]="verificationType == 1">Task verification</button>
  <button class="btn btn-success" type="button" (click)="participantVerification()"
    [disabled]="leakageAnalysisInprogress" [class.active]="verificationType == 2">Participant verification</button>

  <button class="btn btn-success" type="button" (click)="variousVerification()" [disabled]="leakageAnalysisInprogress"
    [class.active]="verificationType == 3">SS/AddSS/FunSS/PK/SK verification</button>
  <button class="btn btn-success" type="button" (click)="reconstructionVerification()"
    [disabled]="leakageAnalysisInprogress" [class.active]="verificationType == 4" style="margin-top:5px">Reconstruction
    verification</button>
  <button class="btn btn-success" type="button" (click)="MPCVerification()" [disabled]="leakageAnalysisInprogress"
    [class.active]="verificationType == 5" style="margin-top:5px">MPC
    verification</button>
  <button class="btn btn-success" type="button" (click)="deadLockFreedomVerification()"
    [disabled]="leakageAnalysisInprogress" [class.active]="verificationType == 6" style="margin-top:5px">Deadlock
    freedom verification</button>

  <div class="panel panel-default analysis-description-panel" *ngIf="leakageAnalysisTypeDescription"
    style="margin-top:20px">
    <div class="panel-heading text-center" (click)="descriptionCollapsed = !descriptionCollapsed"
      style="cursor:pointer">
      <h4>Analysis question</h4>
    </div>
    <div class="panel-body text-left" *ngIf="!descriptionCollapsed">
      <span *ngIf="leakageAnalysisTypeDescription">{{leakageAnalysisTypeDescription}}</span>
    </div>
  </div>

  <div class="panel panel-default step2-elements-panel" *ngIf="leakagesStep2Elements.length > 0">
    <div class="panel-heading text-center clickable" (click)="step2collapsed = !step2collapsed" style="cursor:pointer">
      <h4>Select element</h4>
    </div>
    <div class="panel-body text-left" *ngIf="!step2collapsed">
      <div class="element-row" *ngFor="let element of leakagesStep2Elements"
        (click)="toggleStep2SelectedElements(element.id)" [class.selected-link]="element.selected == true"
        [class.not-selected-link]="element.selected != true">
        <span>{{element.name}}</span>
      </div>
    </div>
    <div class="panel-footer text-right" *ngIf="!step2collapsed">
      <button [disabled]="!areStep2ElementsSelected() || leakageAnalysisInprogress" class="btn btn-success"
        type="button" (click)="leakageDetectionAnalysisStep2()">Analyse</button>
    </div>
  </div>

  <div class="panel panel-default step3-elements-panel" *ngIf="leakagesStep3Elements.length > 0">
    <div class="panel-heading text-center clickable" (click)="step3collapsed = !step3collapsed" style="cursor:pointer">
      <h4>Select data object</h4>
    </div>
    <div class="panel-body text-left" *ngIf="!step3collapsed">
      <div class="element-row" *ngFor="let element of leakagesStep3Elements"
        (click)="toggleStep3SelectedElements(element.name)" [class.selected-link]="element.selected == true"
        [class.not-selected-link]="element.selected != true">
        <span>{{element.name}}</span>
      </div>
    </div>
    <div class="panel-footer text-right" *ngIf="!step3collapsed">
      <button [disabled]="!areStep3ElementsSelected() || leakageAnalysisInprogress" class="btn btn-success"
        type="button" (click)="leakageDetectionAnalysisStep3()">Analyse</button>
    </div>
  </div>

  <div class="panel panel-default results-panel text-left" *ngIf="leakagesResults.success || leakagesResults.error">
    <div class="panel-heading text-center clickable" (click)="resultsCollapsed = !resultsCollapsed"
      style="cursor:pointer">
      <h4>Results</h4>
    </div>
    <div class="panel-body" *ngIf="!resultsCollapsed">
      <div *ngIf="leakagesResults.success">
        <span *ngIf="leakagesResults.code == '1'">
          <span><b>Yes, one possible path:</b></span><br><br>
        </span>
        <span *ngIf="leakagesResults.code == '-1'">
          <span><b>No, one possible path:</b></span><br><br>
        </span>
        <span *ngIf="leakagesResults.code == '1' || leakagesResults.code == '-1'">
          <span
          *ngFor="let elem of leakagesResults.result"><b>{{elem.task}}:</b><br>&nbsp;&nbsp;&nbsp;{{elem.dataObjects}}<br>
        </span>
        </span>
        <span *ngIf="leakagesResults.code == '2' || leakagesResults.code == '3'"><b>Yes</b></span>
      </div>
      <div *ngIf="leakagesResults.success && (leakagesResults.code == '1' || leakagesResults.code == '-1')" class="">
        <button type="button" class="btn btn-default pull-right" (click)="initPathHighlight()"
          data-dismiss="modal">Higlight path on model</button>
      </div>
      <span *ngIf="!leakagesResults.success && leakagesResults.error == 'error1'"><b>No</b></span>
      <span *ngIf="!leakagesResults.success && leakagesResults.error == 'error2'"><b>Element has never this number of
          parameters.</b></span>
      <span *ngIf="!leakagesResults.success && leakagesResults.error == 'error3'"><b>There is no SSSharing PET on this
          model.</b></span>
      <span *ngIf="!leakagesResults.success && leakagesResults.error == 'error4'" style="color:orangered"><b>Analyser
          failed to compute the result,
          please try again.</b></span>
      <span *ngIf="!leakagesResults.success && leakagesResults.error == 'error5'"><b>There is no reconstruction task
          (reconstruction PET) in this
          model.</b></span>
      <span *ngIf="!leakagesResults.success && leakagesResults.error == 'error6'"><b>There is no MPC task
          (MPC PET) in this
          model.</b></span>
      <span *ngIf="!leakagesResults.success && leakagesResults.error == 'error7'"><b>There is no deadlock in this
          model.</b></span>
    </div>
  </div>

  <div class="leakages-analysis-spinner" *ngIf="leakageAnalysisInprogress"
    style="width: 40px; height: 40px; position: relative; margin: 50px auto;">
    <div class="double-bounce1-2"></div>
    <div class="double-bounce2-2"></div>
  </div>
  <div style="display:block" class="text-right" *ngIf="leakageAnalysisInprogress">
    <button [disabled]="!leakageAnalysisInprogress" class="btn btn-default" type="button" (click)="stopAnalysis()">Stop
      analysis</button>
  </div>

</div>