<div class="row header-buttons">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="editor-title">Pleak PE-BPMN editor</h4>
      </div>
      <div class="col-xs-8 buttons-container">
        <ul class="buttons" *ngIf="isAuthenticated()">
          <li>
            <a id="save-diagram"title="save BPMN diagram" href="#">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save diagram
            </a>
          </li>
        </ul>
        <ul class="buttons" *ngIf="isAuthenticated()">
          <li>
            <a class="active" id="analyze-diagram" title="validate BPMN diagram" href="#">
              <span class="glyphicon glyphicon-check"></span> Validate
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="!isAuthenticated()">
          <li>
            <a id="log-in" data-toggle="modal" data-target="#loginModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log in
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="isAuthenticated()">
          <li>
            <a id="log-out" data-toggle="modal" data-target="#logoutModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log out
            </a>
          </li>
        </ul>
        <div class="file-name-container">
          <span id="fileSaveSuccess" class="help-block success-message" style="display: none;">
            Successfully saved the diagram!
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="text-16" id="fileName" *ngIf="isAuthenticated()"></span>
      </div>
    </div>
  </div>
</div>
<div id="canvas"></div>
<div id="sidebar">
  <div id="stereotype-options" *ngIf="isAuthenticated()">
  </div>
  <div id="model-errors" *ngIf="isAuthenticated()" style="padding:10px; background-color:white; display:none">
    <h3>Errors in model</h3>
    <div id="errors-list" style="text-align:left;"></div>
  </div>
  <div id="model-correct" *ngIf="isAuthenticated()" style="padding:10px; background-color:white; display:none; color: forestgreen">
    <h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Passed validation!</h3>
  </div>
  <div id="analysis" style="margin-top:10px; padding:10px; background-color:white; display:none">
    <h3>Simple disclosure analysis</h3>
    <div style="text-align:left">
      <ul class="buttons analyze">
        <li>
          <a class="active" id="analyze-simple-disclosure" title="Analyze simple disclosure" href="#">
            <span class="glyphicon glyphicon-equalizer"></span> Analyze
          </a>
        </li>
      </ul>
    </div>
    <h3>Data dependencies analysis</h3>
    <div style="text-align:left">
      <ul class="buttons analyze">
        <li>
          <a class="active" id="analyze-dependencies" title="Analyze" href="#">
            <span class="glyphicon glyphicon-equalizer"></span> Analyze
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Simple Disclosure Analysis report modal -->
<div class="modal fade" id="simpleDisclosureReportModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" style="width:90%">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4><span id="simpleDisclosureReportTitle"></span> - Simple disclosure analysis report</h4>
        </div>
        <div class="modal-body">
          <div id="report-table" style="overflow-x:auto;"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            V = visible, H = hidden, MF = MessageFlow, S = SecureChannel
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Connections modal -->
<div class="modal fade" id="dataDependenciesAnalysisReportModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" style="width:90%">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4><span id="dependenciesAnalysisReportTitle"></span> - Data dependencies</h4>
        </div>
        <div class="modal-body">
          <div id="report-table" style="overflow-x:auto;"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            How is the element in the row dependent on the element in the column: D = directly, I = indirectly
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>