<div class="row header-buttons">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="editor-title">Pleak PE-BPMN editor</h4>
      </div>
      <div class="col-xs-8 buttons-container">
        <ul class="buttons">
          <li>
            <a id="change-editor" title="Change analyzer" data-toggle="modal" data-target="#changeAnalyzerModal" class="active">
              <span class="glyphicon glyphicon-blackboard"></span> Change analyzer
            </a>
          </li>
        </ul>
        <ul class="buttons" *ngIf="canEdit()">
          <li>
            <a id="save-diagram" title="save BPMN diagram" href="#">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save diagram
            </a>
          </li>
        </ul>
        <ul class="buttons" *ngIf="isLoaded()">
          <li>
            <a class="" id="analyze-diagram" title="validate BPMN diagram" href="#">
              <span class="glyphicon glyphicon-check"></span> Validate
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="!isAuthenticated()">
          <li>
            <a id="log-in" data-toggle="modal" data-target="#loginModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log in
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="isAuthenticated()">
          <li>
            <a id="log-out" data-toggle="modal" data-target="#logoutModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log out
            </a>
          </li>
        </ul>
        <div class="file-name-container">
          <span id="fileSaveSuccess" class="help-block success-message" style="display: none;">
            Successfully saved the diagram!
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="text-16" id="fileName"></span>
      </div>
    </div>
  </div>
</div>
<div id="canvas"></div>
<div id="sidebar">
  <div class="panel panel-default hidden" id="stereotype-options-sidebar">
    <div class="panel-heading blue-panel-heading">
      <button class="btn btn-default pull-right" type="button" id="stereotype-options-hide-button">X</button>
      <h3 id="stereotype-options-title"></h3>
    </div>
    <div class="panel-body" id="stereotype-options"></div>
    <div class="panel-footer blue-panel-footer text-right">
      <button class="btn btn-success" type="button" id="stereotype-options-save-button">Save</button>
    </div>
  </div>
  <div class="analysis-spinner" style="display:none">
    <div class="double-bounce1-2"></div>
    <div class="double-bounce2-2"></div>
  </div>
  <div id="model-errors" class="hidden">
    <h3>Errors in model</h3>
    <div id="errors-list"></div>
  </div>
  <div id="model-correct" class="hidden">
    <h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Passed validation!</h3>
  </div>
  <div id="analysis" class="hidden">
    <h3>Simple disclosure analysis</h3>
    <div class="text-left">
      <ul class="buttons analyze">
        <li>
          <a class="active" id="analyze-simple-disclosure" title="Analyze simple disclosure" href="#">
            <span class="glyphicon glyphicon-equalizer"></span> Analyze
          </a>
        </li>
      </ul>
    </div>
    <h3>Extended simple disclosure analysis</h3>
    <div class="text-left">
      <ul class="buttons analyze">
        <li>
          <a class="active" id="extended-analyze-simple-disclosure" title="Analyze simple disclosure" href="#">
            <span class="glyphicon glyphicon-equalizer"></span> Analyze
          </a>
        </li>
      </ul>
    </div>
    <h3>Data dependencies analysis</h3>
    <div class="text-left">
      <ul class="buttons analyze">
        <li>
          <a class="active" id="analyze-dependencies" title="Analyze" href="#">
            <span class="glyphicon glyphicon-equalizer"></span> Analyze
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Simple Disclosure Analysis report modal -->
<div class="modal fade" id="simpleDisclosureReportModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4><span id="simpleDisclosureReportTitle"></span> - Simple disclosure analysis report</h4>
        </div>
        <div class="modal-body">
          <div id="report-table"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            V = visible, H = hidden, MF = MessageFlow, S = SecureChannel, D = direct, I = indirect
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Connections modal -->
<div class="modal fade" id="dataDependenciesAnalysisReportModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4><span id="dependenciesAnalysisReportTitle"></span> - Data dependencies</h4>
        </div>
        <div class="modal-body">
          <div id="report-table"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            How is the element in the row dependent on the element in the column: D = directly, I = indirectly
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" id="transparency-button">Toggle transparency</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="changeAnalyzerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>Change analyzer</h4>
        </div>
        <div class="modal-body text-center">
          <ul class="buttons">
            <li>
              <a class="active" href="/sql-privacy-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> SQL Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/sql-derivative-sensitivity-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> SQL DS Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a>
                <span class="glyphicon glyphicon-transfer"></span> PE-BPMN Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/guessing-advantage-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> Guessing Advantage Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/combined-sensitivity-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> Combined Sensitivity Analyzer
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>