<div id="canvas"></div>
<div id="tempCanvas" class="hidden"></div>
<div id="sidebar">

  <button type="button" class="btn btn-default" (click)="setPEBPMNMode()"
    [disabled]="isPEBPMModeActive() || !modelLoaded()">PE-BPMN</button>

  <button type="button" class="btn btn-default" (click)="setBPMNLeaksWhenMode()" [disabled]="isBPMNLeaksWhenActive() || !modelLoaded()">BPMN
    leaks-when</button>

  <button type="button" class="btn btn-default" (click)="setSQLLeaksWhenMode()" [disabled]="isSQLLeaksWhenActive() || !modelLoaded()">SQL
    leaks-when</button>

  <hr>

  <div style="margin-top:15px; margin-bottom:-5px; text-align:right" *ngIf=isPEBPMModeActive()>
    <button type="button" class="btn btn-success" (click)="validateModel()" [disabled]=!modelLoaded()>Run
      analysis</button>
  </div>

  <app-leaks-when-analysis #leaksWhenAnalysisComponent [authenticated]="authenticated" [modelId]="modelId" [viewer]="viewer"
    [elementsHandler]="elementsHandler" [activeMode]="activeMode" (open)=scriptPolicyModal.openModal($event)>
  </app-leaks-when-analysis>

  <div id="sidebar-panels" [class.hidden]=!isPEBPMModeActive()>

    <div id="PEBPMN-analysis-sidebar">
      <div class="analysis-spinner" style="display:none">
        <div class="double-bounce1-2"></div>
        <div class="double-bounce2-2"></div>
      </div>
      <div id="model-errors" class="hidden">
        <h3>Errors in model</h3>
        <div id="errors-list"></div>
      </div>
      <div id="model-correct" class="hidden">
        <h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Passed validation!</h3>
      </div>
      <div id="analysis" class="hidden">
        <h3>Simple disclosure analysis</h3>
        <div class="text-left">
          <ul class="buttons analyze">
            <li>
              <a class="active" id="analyze-simple-disclosure" title="Analyze simple disclosure" href="#">
                <span class="glyphicon glyphicon-equalizer"></span> Analyze
              </a>
            </li>
          </ul>
        </div>
        <h3>Extended simple disclosure analysis</h3>
        <div class="text-left">
          <ul class="buttons analyze">
            <li>
              <a class="active" id="extended-analyze-simple-disclosure" title="Analyze simple disclosure" href="#">
                <span class="glyphicon glyphicon-equalizer"></span> Analyze
              </a>
            </li>
          </ul>
        </div>
        <h3>Data dependencies analysis</h3>
        <div class="text-left">
          <ul class="buttons analyze">
            <li>
              <a class="active" id="analyze-dependencies" title="Analyze" href="#">
                <span class="glyphicon glyphicon-equalizer"></span> Analyze
              </a>
            </li>
          </ul>
        </div>
        <h3>Leakage detection</h3>
        <div class="text-left">
          <ul class="buttons analyze">
            <li>
              <a class="active" id="detect-leakages" title="Analyze" href="#">
                <span class="glyphicon glyphicon-equalizer"></span> Analyze
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default hidden" id="stereotype-options-sidebar">
      <div class="panel-heading blue-panel-heading">
        <button class="btn btn-default pull-right" type="button" id="stereotype-options-hide-button">X</button>
        <h3 id="stereotype-options-title"></h3>
      </div>
      <div class="panel-body" id="stereotype-options"></div>
      <div class="panel-footer blue-panel-footer text-right">
        <button class="btn btn-success hidden" type="button" id="stereotype-options-save-button">Save</button>
      </div>
    </div>

  </div>
  <div id="resize-buttons-container" [class.hidden]="!modelLoaded()">
    <span id="resize-buttons-label">Sidebar width:</span>
    <button class="btn btn-default" id="resize-dec">-</button>
    <button class="btn btn-default" id="resize-inc">+</button>
  </div>
</div>
<!-- Simple Disclosure Analysis report modal -->
<div class="modal fade" id="simpleDisclosureReportModal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>
            <span id="simpleDisclosureReportTitle"></span>
            <span id="simpleDisclosureReportType"></span>
          </h4>
        </div>
        <div class="modal-body">
          <div id="report-table"></div>
        </div>
        <div class="modal-footer">
          <div id='simple-legend' class="pull-left">
          </div>
          <div class="pull-right">
            <span id="simpleDisclosureLeaksWhenButtonNote" style="display: none;"><b>Note:</b> To run simple disclosure leaks-when analysis, select at least one input data object (cell that contains D or I value).</span>
            <button id="simpleDisclosureLeaksWhenButton" type="button" class="btn btn-default" data-dismiss="modal" style="display:none" (click)=leaksWhenAnalysisComponent.runSimpleDisclosureLeaksWhenAnalysis()>Run simple disclosure leaks-when analysis</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Connections modal -->
<div class="modal fade" id="dataDependenciesAnalysisReportModal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4><span id="dependenciesAnalysisReportTitle"></span> - Data dependencies</h4>
        </div>
        <div class="modal-body">
          <div id="report-table"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            How is the element in the row dependent on the element in the column: D = directly, I = indirectly
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" id="transparency-button">Toggle transparency</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Leakage Detection Analysis modal -->
<div class="modal fade in" id="leakageDetectionModal" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>
            Leakage detection
          </h4>
        </div>
        <div class="modal-body">
          <app-leakage-detection [authenticated]="authenticated" [modelId]="modelId" [viewer]="viewer" [elementsHandler]="elementsHandler">
          </app-leakage-detection>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- BPMN leaks-when analysis results modal-->
<div class="modal fade" id="bpmnLeaksWhenModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">BPMN leaks-when analysis results</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<app-script-policy-modal [activeMode]="activeMode" [canEdit]=canEdit() (save)=leaksWhenAnalysisComponent.save() (scriptOrPolicy)=leaksWhenAnalysisComponent.setScriptOrPolicy($event) #scriptPolicyModal></app-script-policy-modal>