<div class="panel panel-default stereotype-options-panel" id="ABDecrypt-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4><b>ABDecrypt options</b></h4>
  </div>
  <div class="panel-body">
    <div class="form-group" id="ABDecrypt-ciphertext-form-group">
      <label class="text-16" for="ABDecrypt-ciphertextSelect">Ciphertext</label>
      <select class="form-control stereotype-option" id="ABDecrypt-ciphertextSelect"></select>
    </div>
    <div class="form-group" id="ABDecrypt-key-form-group">
      <label class="text-16" for="ABDecrypt-keySelect">Key</label>
      <select class="form-control stereotype-option" id="ABDecrypt-keySelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="ABDecrypt-outputObject">Output data</label>
      <ul class="stereotype-option" id="ABDecrypt-outputObject"></ul>
    </div>
    <div class="form-group" id="ABDecrypt-conditions-form-group">
      <span class="help-block" id="ABDecrypt-conditions-help">This task does not meet all the requirements of this stereotype (exactly 2 inputs and 1 output are required).</span>
      <span class="help-block" id="ABDecrypt-conditions-help2">Ciphertext and key must be different objects.</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" type="button" id="ABDecrypt-remove-button">Remove</button>
  </div>
</div>