<div class="panel panel-default stereotype-options-panel" id="AddSSReconstruction-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>AddSSReconstruction options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="AddSSReconstruction-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="AddSSReconstruction-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="AddSSReconstruction-outputObjects">Output data</label>
      <ul class="stereotype-option" id="AddSSReconstruction-outputObjects"></ul>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="AddSSReconstruction-save-button">Save</button>
    <button class="btn btn-default" type="button" id="AddSSReconstruction-remove-button">Remove</button>
  </div>
</div>