<div class="panel panel-default stereotype-options-panel" id="AddSSComputation-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>AddSSComputation options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="AddSSComputation-inputScript">Input script</label>
      <textarea class="form-control stereotype-option" id="AddSSComputation-inputScript"></textarea>
    </div>
    <div class="form-group">
      <label class="text-16" for="AddSSComputation-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="AddSSComputation-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="AddSSComputation-outputObjects">Output data objects</label>
      <ul class="stereotype-option" id="AddSSComputation-outputObjects"></ul>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="AddSSComputation-save-button">Save</button>
    <button class="btn btn-default" type="button" id="AddSSComputation-remove-button">Remove</button>
  </div>
</div>