<div class="panel panel-default stereotype-options-panel" id="CommunicationProtection-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>CommunicationProtection options</h4>
  </div>
  <div class="panel-body">
    <h3>Protected message flow</h3>
    <div class="form-group">
      <label class="text-16" for="CommunicationProtection-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="CommunicationProtection-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="CommunicationProtection-outputObjects">Output data objects</label>
      <ul class="stereotype-option" id="CommunicationProtection-outputObjects"></ul>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="CommunicationProtection-save-button">Save</button>
    <button class="btn btn-default" type="button" id="CommunicationProtection-remove-button">Remove</button>
  </div>
</div>