<div class="panel panel-default stereotype-options-panel" id="DimensionalityReduction-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>DimensionalityReduction options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group" id="DimensionalityReduction-data-form-group" data-readonly="disabled">
      <label class="text-16" for="DimensionalityReduction-dataSelect">Data</label>
      <select class="form-control stereotype-option" id="DimensionalityReduction-dataSelect"></select>
    </div>
    <div class="form-group" id="DimensionalityReduction-projectionMatrix-form-group" data-readonly="disabled">
      <label class="text-16" for="DimensionalityReduction-projectionMatrixSelect">Projection matrix</label>
      <select class="form-control stereotype-option" id="DimensionalityReduction-projectionMatrixSelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="DimensionalityReduction-outputObject">Output data</label>
      <ul class="stereotype-option" id="DimensionalityReduction-outputObject"></ul>
    </div>
    <div class="form-group" id="DimensionalityReduction-conditions-form-group">
      <span class="help-block" id="DimensionalityReduction-conditions-help">This task does not meet all the requirements of this stereotype (exactly 2 inputs and 1 output are required).</span>
      <span class="help-block" id="DimensionalityReduction-conditions-help2">Data and projection matrix must be different objects.</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="DimensionalityReduction-save-button">Save</button>
    <button class="btn btn-default" type="button" id="DimensionalityReduction-remove-button">Remove</button>
  </div>
</div>