<div class="panel panel-default stereotype-options-panel" id="FunSSReconstruction-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>FunSSReconstruction options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="FunSSReconstruction-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="FunSSReconstruction-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="FunSSReconstruction-outputObjects">Output data</label>
      <ul class="stereotype-option" id="FunSSReconstruction-outputObjects"></ul>
    </div>
    <div class="form-group" id="FunSSReconstruction-conditions-form-group">
      <span class="help-block" id="FunSSReconstruction-conditions-help">This task does not meet all the requirements of this stereotype (exactly 2 inputs and 1 output are required).</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" type="button" id="FunSSReconstruction-remove-button">Remove</button>
    <button class="btn btn-success" type="button" id="FunSSReconstruction-save-button">Save</button>
  </div>
</div>