<div class="panel panel-default stereotype-options-panel" id="FunSSComputation-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>FunSSComputation options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="FunSSComputation-inputScript">Input script</label>
      <textarea class="form-control stereotype-option" id="FunSSComputation-inputScript"></textarea>
    </div>
    <div class="form-group">
      <label class="text-16" for="FunSSComputation-inputDataSelect">Input data</label>
      <select class="form-control stereotype-option" id="FunSSComputation-inputDataSelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="FunSSComputation-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="FunSSComputation-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="FunSSComputation-outputObjects">Output data objects</label>
      <ul class="stereotype-option" id="FunSSComputation-outputObjects"></ul>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="FunSSComputation-save-button">Save</button>
    <button class="btn btn-default" type="button" id="FunSSComputation-remove-button">Remove</button>
  </div>
</div>