<div class="panel panel-default stereotype-options-panel" id="FunSSComputation-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>FunSSComputation options</h4>
  </div>
  <div class="panel-body">
    <h3 class="stereotype-option" id="FunSSComputation-taskName"></h3>
    <div class="form-group" id="FunSSComputation-groupSelect-form-group" data-readonly="disabled">
      <label class="text-16" for="FunSSComputation-groupSelect">Group ID</label>
      <select class="form-control stereotype-option" id="FunSSComputation-groupSelect">
      </select>
      <span id="FunSSComputation-groupSelect-help" class="help-block">Select group.</span>
      <span id="FunSSComputation-groupSelect-help2" class="help-block">There are already two members in this group. Please choose another one.</span>
    </div>
    <div class="form-group" id="FunSSComputation-newGroup-form-group" data-readonly="hidden">
      <label class="text-16" for="FunSSComputation-newGroup">Add new group</label>
      <input class="form-control stereotype-option" type="text" id="FunSSComputation-newGroup"/>
      <span class="help-block" id="FunSSComputation-newGroup-help">Insert group name.</span>
      <br>
      <button class="btn btn-success pull-right" type="button" id="FunSSComputation-add-button">Add</button>
    </div>
    <div class="form-group" id="FunSSComputation-evaluationPoint-form-group" data-readonly="disabled">
      <label class="text-16" for="FunSSComputation-evaluationPointSelect">Evaluation point</label>
      <select class="form-control stereotype-option" id="FunSSComputation-evaluationPointSelect"></select>
    </div>
    <div class="form-group" id="FunSSComputation-shareOfFunction-form-group" data-readonly="disabled">
      <label class="text-16" for="FunSSComputation-shareOfFunctionSelect">Share of function</label>
      <select class="form-control stereotype-option" id="FunSSComputation-shareOfFunctionSelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="FunSSComputation-outputObjects">Output data</label>
      <ul class="stereotype-option" id="FunSSComputation-outputObjects"></ul>
    </div>
    <div class="form-group" id="FunSSComputation-conditions-form-group">
      <span class="help-block" id="FunSSComputation-conditions-help">This task does not meet all the requirements of this stereotype (exactly 2 inputs and 1 output are required).</span>
      <span class="help-block" id="FunSSComputation-conditions-help2">Evaluation point and share of function must be different objects.</span>
    </div>
    <hr>
    <h3>Other tasks in the same FunSSComputation group</h3>
    <div class="form-group" id="FunSSComputation-otherGroupTasks">
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" type="button" id="FunSSComputation-remove-button">Remove</button>
    <button class="btn btn-success" type="button" id="FunSSComputation-save-button">Save</button>
  </div>
</div>