<div class="panel panel-default stereotype-options-panel" id="OpenConfidentiality-stereotype-options" style="display:none;">
    <div class="panel-heading">
      <h4><b>OpenConfidentiality options</b></h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="text-16" for="OpenConfidentiality-inputObjects">Input data</label>
        <ul class="stereotype-option" id="OpenConfidentiality-inputObjects"></ul>
      </div>
      <div class="form-group">
        <label class="text-16" for="OpenConfidentiality-outputObjects">Output data</label>
        <ul class="stereotype-option" id="OpenConfidentiality-outputObjects"></ul>
      </div>
      <div class="form-group" id="OpenConfidentiality-conditions-form-group">
        <span class="help-block" id="OpenConfidentiality-conditions-help">This task does not meet all the requirements of this stereotype (exactly 1 input and 1 output are required).</span>
        <span class="help-block" id="OpenConfidentiality-conditions-help2">Input and output objects must be different data objects.</span>
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default" type="button" id="OpenConfidentiality-remove-button">Remove</button>
    </div>
  </div>