<div class="panel panel-default stereotype-options-panel" id="PKComputation-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>PKComputation options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="PKComputation-inputScript">Input script</label>
      <textarea class="form-control stereotype-option" id="PKComputation-inputScript"></textarea>
    </div>
    <div class="form-group" id="PKComputation-inputObjects-form-group">
      <label class="text-16" for="PKComputation-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="PKComputation-inputObjects"></ul>
      <span class="help-block" id="PKComputation-inputObjects-help">At least 1 input must be selected as encrypted</span>
    </div>
    <div class="form-group">
      <label class="text-16" for="PKComputation-outputObjects">Output data</label>
      <ul class="stereotype-option" id="PKComputation-outputObjects"></ul>
    </div>
    <div class="form-group" id="PKComputation-conditions-form-group">
      <span class="help-block" id="PKComputation-conditions-help">This task does not meet all the requirements of this stereotype (at least 1 input and exactly 1 output are required).</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="PKComputation-save-button">Save</button>
    <button class="btn btn-default" type="button" id="PKComputation-remove-button">Remove</button>
  </div>
</div>