<div class="panel panel-default stereotype-options-panel" id="PKEncrypt-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4><b>PKEncrypt options</b></h4>
  </div>
  <div class="panel-body">
    <div class="form-group" id="PKEncrypt-inputData-form-group" data-readonly="disabled">
      <label class="text-16" for="PKEncrypt-inputDataSelect">Input data</label>
      <select class="form-control stereotype-option" id="PKEncrypt-inputDataSelect"></select>
    </div>
    <div class="form-group" id="PKEncrypt-key-form-group" data-readonly="disabled">
      <label class="text-16" for="PKEncrypt-keySelect">Key</label>
      <select class="form-control stereotype-option" id="PKEncrypt-keySelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="PKEncrypt-outputObject">Output data</label>
      <ul class="stereotype-option" id="PKEncrypt-outputObject"></ul>
    </div>
    <div class="form-group" id="PKEncrypt-conditions-form-group">
      <span class="help-block" id="PKEncrypt-conditions-help">This task does not meet all the requirements of this stereotype (exactly 2 inputs and 1 output are required).</span>
      <span class="help-block" id="PKEncrypt-conditions-help2">Input data and key must be different objects.</span>
      <span class="help-block" id="PKEncrypt-conditions-help3">Key object must be of type PKPublic (must have PKPublic stereotype).</span>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-default" type="button" id="PKEncrypt-remove-button">Remove</button>
  </div>
</div>