<div class="panel panel-default stereotype-options-panel" id="PKEncrypt-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>PKEncrypt options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="PKEncrypt-inputDataSelect">Input data</label>
      <select class="form-control stereotype-option" id="PKEncrypt-inputDataSelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="PKEncrypt-keySelect">Key</label>
      <select class="form-control stereotype-option" id="PKEncrypt-keySelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="PKEncrypt-outputObject">Output data</label>
      <ul class="stereotype-option" id="PKEncrypt-outputObject"></ul>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="PKEncrypt-save-button">Save</button>
    <button class="btn btn-default" type="button" id="PKEncrypt-remove-button">Remove</button>
  </div>
</div>