<div class="panel panel-default stereotype-options-panel" id="PKPublic-stereotype-options" style="display:none;">
    <div class="panel-heading">
      <h4>PKPublic options</h4>
    </div>
    <div class="panel-body">
      <h3 class="stereotype-option" id="PKPublic-dataObjectName"></h3>
      <div class="form-group" id="PKPublic-groupSelect-form-group" data-readonly="disabled">
        <label class="text-16" for="PKPublic-groupSelect">Key pair ID</label>
        <select class="form-control stereotype-option" id="PKPublic-groupSelect">
        </select>
        <span id="PKPublic-groupSelect-help" class="help-block">Select key pair.</span>
        <span id="PKPublic-groupSelect-help2" class="help-block">All PKPublic keys of the pair must have the same name.</span>
      </div>
      <div class="form-group" id="PKPublic-newGroup-form-group" data-readonly="hidden">
        <label class="text-16" for="PKPublic-newGroup">Create new key pair</label>
        <input class="form-control stereotype-option" type="text" id="PKPublic-newGroup"/>
        <span class="help-block" id="PKPublic-newGroup-help">Insert key pair name.</span>
        <br>
        <button class="btn btn-success pull-right" type="button" id="PKPublic-add-button">Add</button>
      </div>
      <hr>
      <h3>PKPrivate key objects in the same pair</h3>
      <div class="form-group" id="PKPublic-otherGroupObjects">
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-success" type="button" id="PKPublic-save-button">Save</button>
      <button class="btn btn-default" type="button" id="PKPublic-remove-button">Remove</button>
    </div>
  </div>