<div class="panel panel-default stereotype-options-panel" id="ProtectConfidentiality-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>ProtectConfidentiality options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="ProtectConfidentiality-inputObjects">Input data</label>
      <ul class="stereotype-option" id="ProtectConfidentiality-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="ProtectConfidentiality-outputObjects">Output data</label>
      <ul class="stereotype-option" id="ProtectConfidentiality-outputObjects"></ul>
    </div>
    <div class="form-group" id="ProtectConfidentiality-conditions-form-group">
      <span class="help-block" id="ProtectConfidentiality-conditions-help">This task does not meet all the requirements of this stereotype (exactly 1 input and 1 output are required).</span>
      <span class="help-block" id="ProtectConfidentiality-conditions-help2">Input and output objects must be different data objects.</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" type="button" id="ProtectConfidentiality-remove-button">Remove</button>
    <button class="btn btn-success" type="button" id="ProtectConfidentiality-save-button">Save</button>
  </div>
</div>