<div class="panel panel-default stereotype-options-panel" id="SecureChannel-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4><b>SecureChannel options</b></h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="SecureChannel-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="SecureChannel-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="SecureChannel-outputObjects">Output data objects</label>
      <ul class="stereotype-option" id="SecureChannel-outputObjects"></ul>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-default" type="button" id="SecureChannel-remove-button">Remove</button>
  </div>
</div>