<div class="panel panel-default stereotype-options-panel" id="SGXComputation-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>SGXComputation options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="SGXComputation-inputScript">Input script</label>
      <textarea class="form-control stereotype-option" id="SGXComputation-inputScript"></textarea>
    </div>
    <div class="form-group">
      <label class="text-16" for="SGXComputation-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="SGXComputation-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="SGXComputation-outputObjects">Output data</label>
      <ul class="stereotype-option" id="SGXComputation-outputObjects"></ul>
    </div>
    <div class="form-group" id="SGXComputation-conditions-form-group">
      <span class="help-block" id="SGXComputation-conditions-help">This task does not meet all the requirements of this stereotype (at least 1 input and 1 output are required).</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="SGXComputation-save-button">Save</button>
    <button class="btn btn-default" type="button" id="SGXComputation-remove-button">Remove</button>
  </div>
</div>