<div class="panel panel-default stereotype-options-panel" id="SGXQuoting-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>SGXQuoting options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group" id="SGXQuoting-challenge-form-group" data-readonly="disabled">
      <label class="text-16" for="SGXQuoting-challengeSelect">Challenge</label>
      <select class="form-control stereotype-option" id="SGXQuoting-challengeSelect"></select>
    </div>
    <div class="form-group" id="SGXQuoting-measurement-form-group" data-readonly="disabled">
      <label class="text-16" for="SGXQuoting-measurementSelect">Measurement</label>
      <select class="form-control stereotype-option" id="SGXQuoting-measurementSelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="SGXQuoting-outputObject">Output data</label>
      <ul class="stereotype-option" id="SGXQuoting-outputObject"></ul>
    </div>
    <div class="form-group" id="SGXQuoting-conditions-form-group">
      <span class="help-block" id="SGXQuoting-conditions-help">This task does not meet all the requirements of this stereotype (exactly 2 inputs and 1 output are required).</span>
      <span class="help-block" id="SGXQuoting-conditions-help2">Challenge and measurement must be different objects.</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="SGXQuoting-save-button">Save</button>
    <button class="btn btn-default" type="button" id="SGXQuoting-remove-button">Remove</button>
  </div>
</div>