<div class="panel panel-default stereotype-options-panel" id="SGXQuoteVerification-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>SGXQuoteVerification options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group" id="SGXQuoteVerification-quote-form-group" data-readonly="disabled">
      <label class="text-16" for="SGXQuoteVerification-quoteSelect">Quote</label>
      <select class="form-control stereotype-option" id="SGXQuoteVerification-quoteSelect"></select>
    </div>
    <div class="form-group" id="SGXQuoteVerification-certificate-form-group" data-readonly="disabled">
      <label class="text-16" for="SGXQuoteVerification-certificateSelect">Certificate</label>
      <select class="form-control stereotype-option" id="SGXQuoteVerification-certificateSelect"></select>
    </div>
    <div class="form-group" id="SGXQuoteVerification-revocationList-form-group" data-readonly="disabled">
      <label class="text-16" for="SGXQuoteVerification-revocationListSelect">Revocation list</label>
      <select class="form-control stereotype-option" id="SGXQuoteVerification-revocationListSelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="SGXQuoteVerification-outputObject">Output data</label>
      <ul class="stereotype-option" id="SGXQuoteVerification-outputObject"></ul>
    </div>
    <div class="form-group" id="SGXQuoteVerification-conditions-form-group">
      <span class="help-block" id="SGXQuoteVerification-conditions-help">This task does not meet all the requirements of this stereotype (exactly 3 inputs and 1 output are required).</span>
      <span class="help-block" id="SGXQuoteVerification-conditions-help2">Quote, certificate and revocation list must be different objects.</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="SGXQuoteVerification-save-button">Save</button>
    <button class="btn btn-default" type="button" id="SGXQuoteVerification-remove-button">Remove</button>
  </div>
</div>