<div class="panel panel-default stereotype-options-panel" id="SKComputation-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>SKComputation options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group" data-readonly="disabled">
      <label class="text-16" for="SKComputation-inputScript">Input script</label>
      <textarea class="form-control stereotype-option" id="SKComputation-inputScript"></textarea>
    </div>
    <div class="form-group" id="SKComputation-inputObjects-form-group" data-readonly="disabled">
      <label class="text-16" for="SKComputation-inputObjects">Input data objects</label>
      <ul class="stereotype-option" id="SKComputation-inputObjects"></ul>
      <span class="help-block" id="SKComputation-inputObjects-help">At least 1 input must be selected as encrypted</span>
    </div>
    <div class="form-group" data-readonly="disabled">
      <label class="text-16" for="SKComputation-outputObjects">Output data</label>
      <ul class="stereotype-option" id="SKComputation-outputObjects"></ul>
    </div>
    <div class="form-group" id="SKComputation-conditions-form-group">
      <span class="help-block" id="SKComputation-conditions-help">This task does not meet all the requirements of this stereotype (at least 1 input and 1 output are required).</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" type="button" id="SKComputation-remove-button">Remove</button>
    <button class="btn btn-success" type="button" id="SKComputation-save-button">Save</button>
  </div>
</div>