<div class="panel panel-default stereotype-options-panel" id="SKDecrypt-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>SKDecrypt options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group" id="SKDecrypt-ciphertext-form-group" data-readonly="disabled">
      <label class="text-16" for="SKDecrypt-ciphertextSelect">Ciphertext</label>
      <select class="form-control stereotype-option" id="SKDecrypt-ciphertextSelect"></select>
    </div>
    <div class="form-group" id="SKDecrypt-key-form-group" data-readonly="disabled">
      <label class="text-16" for="SKDecrypt-keySelect">Key</label>
      <select class="form-control stereotype-option" id="SKDecrypt-keySelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="SKDecrypt-outputObject">Output data</label>
      <ul class="stereotype-option" id="SKDecrypt-outputObject"></ul>
    </div>
    <div class="form-group" id="SKDecrypt-conditions-form-group">
      <span class="help-block" id="SKDecrypt-conditions-help">This task does not meet all the requirements of this stereotype (exactly 2 inputs and 1 output are required).</span>
      <span class="help-block" id="SKDecrypt-conditions-help2">Ciphertext and key must be different objects.</span>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" type="button" id="SKDecrypt-remove-button">Remove</button>
    <button class="btn btn-success" type="button" id="SKDecrypt-save-button">Save</button>
  </div>
</div>