<div class="panel panel-default stereotype-options-panel" id="SKEncrypt-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4>SKEncrypt options</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="SKEncrypt-inputDataSelect">Input data</label>
      <select class="form-control stereotype-option" id="SKEncrypt-inputDataSelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="SKEncrypt-keySelect">Key</label>
      <select class="form-control stereotype-option" id="SKEncrypt-keySelect"></select>
    </div>
    <div class="form-group">
      <label class="text-16" for="SKEncrypt-outputObject">Output data</label>
      <ul class="stereotype-option" id="SKEncrypt-outputObject"></ul>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" type="button" id="SKEncrypt-save-button">Save</button>
    <button class="btn btn-default" type="button" id="SKEncrypt-remove-button">Remove</button>
  </div>
</div>