<div class="panel panel-default stereotype-options-panel" id="SSSharing-stereotype-options" style="display:none;">
  <div class="panel-heading">
    <h4><b>SSSharing options</b></h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="text-16" for="SSSharing-inputObjects">Input data</label>
      <ul class="stereotype-option" id="SSSharing-inputObjects"></ul>
    </div>
    <div class="form-group">
      <label class="text-16" for="SSSharing-outputObjects">Output data objects</label>
      <ul class="stereotype-option" id="SSSharing-outputObjects"></ul>
    </div>
    <div class="form-group" id="SSSharing-treshold-form-group" data-readonly="disabled">
      <label class="text-16" for="SSSharing-treshold">Threshold</label>
      <input class="form-control stereotype-option" type="number" id="SSSharing-treshold"/>
      <span class="help-block" id="SSSharing-treshold-help">Threshold must be an integer bigger than 1 and equal to or smaller than the number of outputs (1 < threshold <= number of outputs).</span>
    </div>
    <div class="form-group" id="SSSharing-computationParties-form-group" data-readonly="disabled">
      <label class="text-16" for="SSSharing-computationParties">Computation parties</label>
      <input class="form-control stereotype-option" type="number" id="SSSharing-computationParties"/>
      <span class="help-block" id="SSSharing-computationParties-help">Computation parties must be an integer bigger than or equal to threshold and smaller than or equal to the number of outputs (threshold <= computation parties <= number of outputs).</span>
    </div>
    <div class="form-group" id="SSSharing-conditions-form-group">
      <span class="help-block" id="SSSharing-conditions-help">This task does not meet all the requirements of this stereotype (exactly 1 input and at least 2 outputs are required).</span>
    </div>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-default" type="button" id="SSSharing-remove-button">Remove</button>
  </div>
</div>